@use 'src/styles/common' as *;

.portraits {
  .photo-set {

    h1 {
      display: inline-block;
    }

    .session-info {
      span {
        display: inline-block;
        font-size: $font-size-small;
        color: $dark-light;
        margin-right: 10px;
        margin-bottom: 20px;
      }

      .like-wrapper {
        display: inline-block;
      }
    }

    margin-bottom: 40px;
  }
}
