@use 'src/styles/common' as *;

.header {
  height: 150px;
  background-color: $light !important;
  outline: none;
  z-index: 500;

  .odu {
    display: block;
    float: left;
    height: 100%;
    width: 350px;
    background: $dark;

    .logo-icon {
      margin: 50px auto 0 150px;

      &:hover {
        fill: $color;
      }
    }
  }


  .collection {
    float: left;
    padding-left: 20px;
    line-height: 150px;
    height: 100%;
    color: $light-dark;
    font-size: 60px;
  }

  ::after {
    clear: both;
    display: block;
    content: "";
  }

  &.top-shown {
    cursor: pointer;

    .top {
      transition: ease-in-out 1s;
      opacity: 0.7;
      transform: translateY(0px);
    }
  }

  .top {
    width: 300px;
    position: relative;
    left: 50%;
    bottom: 60px;
    opacity: 0;
    transition: ease-in-out 1s;
    transform: translateY(-25px);

    &:before, &:after {
      content: "";
      display: inline-block !important;
      width: 100px;
      height: 0;
      border-top: 5px solid $light-dark;
      transform: rotate(-10deg);
    }

    &:after {
      transform: rotate(10deg) translate(-4px);
    }
  }
}
