@use 'src/styles/common' as *;

.carousel-wrapper {
  position: relative;
  .carousel {
    display: flex;
    justify-content: flex-start;

    overflow: hidden;

    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
      display: none;
    }

    .carousel-card {
      flex: 0 0 auto;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .arrow {
    z-index: 100;
    background: transparent;
    cursor: pointer;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .left {
    left: 0;
    &:after {
      position: absolute;
      top: calc(50% - 12px);
      left: 10px;
      visibility: hidden;
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 25px 25px 0;
      border-color: transparent rgba($light-dark, 0.8) transparent transparent;
    }
  }

  .right {
    right: 0;
    &:after {
      position: absolute;
      visibility: hidden;
      right: 10px;
      top: calc(50% - 12px);
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 25px 0 25px 25px;
      border-color: transparent transparent transparent rgba($light-dark, 0.8);
    }
  }

  .shown {
    &:after {
      visibility: visible;
    }
  }
}
